<%= javascript_include_tag "jquery.trilemma.js" %>  

<%= javascript_include_tag "jquery-ui-min.js" %>
<%= stylesheet_link_tag "jquery-ui-1.8.5.custom.css" %>
<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" %>                                                         
<%= javascript_include_tag "jquery.multiselect.min.js" %>
<%= stylesheet_link_tag "jquery.multiselect.css" %>
<% @favorites = RbYAML.load(@user.favorites) if @user.favorites %>
<% @procedure_list = Procedure.find(:all, :order => "procedure_name") %>

<style type="text/css" media="screen">

.edit_user_form body{
  font-family:Arial, Helvetica, sans-serif;
  position:absolute;
}

.edit_user_form h2{ 
  position:absolute;
  left:10px;
  top: 20px; 
  font-size:35pt;
}

.edit_user_form input{ 
    position:absolute;
    width: 450px;
    background:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:35pt;
    padding:5px;
    border-top:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  }
  

.edit_user_form div{
  position:absolute;
  left:40px;
}  
  #username{
    top:50px;
  }

  #email{
   top:150px; 
  }

#first_name input{
  width: 200px; 
  top:267px;
  
  
}
  #last_name input{
    top:266px;
    left:224px; 
    width:225px;
  } 
  
  #lastNameLable{
    top:246px;
    left:254px; 
    width:240px;  
  }
  
  #firstNameLable{
     top:246px;
     left:10px; 
     width:250px;
  }
  

  #current_password{
    top:370px;
  }
  
  #new_password{
    top:430px; 
  }

  #new_password_confirmaiton{
    top:550px; 
  }

  #current_password_field{
    background-color:#C0C0C0;
    top:10px; 
  }
     
  .password_text_box{
    top:50px;
  }
  
  #submit_button{
    top:540px;
  
  }
  #favorites_button{
    top:470px; 
  }

  .procedure_list{
    top:300px; 
  }
  
  #change_password_button{
    top:380px; 
    
  }
  .favorites{
    position:absolute;
    top:560px;
    left: 140px; 
  } 
  
  input.favorites{
    width:4em;
    height:4em;
  }    
  
div#error_explanation{
  left:520px;
}
</style>
  
<div class="edit_user_form">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div id="username">
    <p>
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </p>
  </div>
  
  <div id="email">
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
  </div>
  
  <div id="first_name">  
    <p>
      <div id="firstNameLable"> First Name:</div>
      <%= f.text_field :first_name %>
  </p>  
  </div>
  
  <div id="last_name">
    <p>
      <div id="lastNameLable"> Last Name:</div>
      <%= f.text_field :last_name %>
    </p>
   </div>
   
<<<<<<< HEAD
   <div id="new_password">
    <p>
      <%= f.label :password,:class=>"password_text_box" %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :class=>"password_text_box" %>  
      <%= f.password_field :password_confirmation, :class=>"password_confirmation" %>  
      
    </p>
  </div>
  
  <div id="new_password_confirmaiton">
    <p>
      <%= f.label :password_confirmation, :class=>"password_confirmation" %><br />
      <%= f.password_field :password_confirmation, :class=>"password_confirmation" %>  
      
    </p>
  </div>
  
  <div id="current_password">
    <p>
      <%= f.label :current_password, :class=>"current_password"%> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, :id=>"current_password_field"%>
    </p>
  </div> 
=======
   <div id="current_password">
     <p>
       <!-- <i>(we need your current password to confirm your changes)</i> -->
       <div style="display:none"> 

         <%= f.password_field :current_password, :id=>"current_password_field"%>
         <%= f.password_field :password, :class=>"password_text_box" %>  
         <%= f.password_field :password_confirmation, :class=>"password_confirmation" %>       
       </div>
     </p>
   </div>

     <div id="change_password_button">
      <input type="button" name="Change Password" value="Change Password" id="change_password"><br/>
    </div>
>>>>>>> fix_patients_view
  

  <div id="submit_button">
    <p> 
     <input type="button" name="Submit" value="Submit" id="fake_submit_button"><br/>
      
      <!-- Hide the real submit button for some jQuery goodness -->
      <div style="display:none"> 
        <%= f.submit "Update" %>
      </div>
    </p>                    
  </div>
<% end %>
          

 <div id="favorites_button">
   <input type="button" name="Edit Favorites" value="Edit Favorites" id="show_favorites"><br/>
 </div>  
 
 </div> 


  <script type="text/javascript">
       
     defaults={
       draggable:false,
       modal: true,
       height: 240,
       width:  400,
       resizable:false
     };
     
    $(document).ready(function(){
      var windowClosedDisposition="";
      $('.favorites').trilemma({max:12});

      $("#fake_submit_button").click(function(){
        $("#checkPassWindow").dialog({
          draggable:false,
           modal: true,
           height: 120,
           width:  250,
           resizable:false,
          close: function(event,ui){ 
            if(windowClosedDisposition=="submitted"){ 
              console.log("PASSWORD => " + $("#currentPassword").val());
               $("#current_password_field").val($("#currentPassword").val());
               console.log("PASSWORD => " + $("#current_password_field").val());
               
               $("form:first").submit();
            }
          }
        })
      });                    
      
      $("#change_password").click(function(){ 
         $("#passwordWindow").dialog({

           draggable:false,
            modal: true,
            height: 240,
            width:  400,
            resizable:false,
            
           close: function(event,ui){ 
             if(windowClosedDisposition=="submitted"){
                $("#current_password_field").val($("#current_pass_box").val());
                $("#password_text_box").val($("#new_pass_box").val());
                $("#password_confirmation").val($("#new_pass_confirmation").val());
               $("form:first").submit();
             }
           }
         })
       });

         $("#closeChangePasswordWindow").click(function(){ 
           windowClosedDisposition = "canceled"
           $("#passwordWindow").dialog('close');
         });
         
         $("#submitChangePasswordWindow").click(function(){
           windowClosedDisposition = "submitted" 
           $("#passwordWindow").dialog('close');
         });   
         
         $("#closePasswordWindow").click(function(){ 
           windowClosedDisposition = "canceled"
           $("#checkPassWindow").dialog('close');
         });
       
         $("#submitPasswordWindow").click(function(){
           console.log("@@@");
           windowClosedDisposition = "submitted" 
           $("#checkPassWindow").dialog('close');
         });


      // Ajax call to update procedure_code favorites
        $("input:checkbox").change(function(){
          var procedure_id_var= jQuery(this).val();
          
          if(jQuery(this).attr("checked")){ var action = 'add' }
            else{ var action = 'delete' }
            console.log("@ LOG => {action=>" + action + ",:procedure_code=>"+ jQuery(this).val()+"}");
             $.ajax({
                       async:true, 
                       url:'/users/edit_procedure',
                       type:'POST',
                       data: {
                            'commit':action,
                            'procedure_code':procedure_id_var, 
                            'authenticity_token':'<%= form_authenticity_token %>',
                            'id':'<%= @user.id %>'
                       },
            success: function(){console.log("Success!");},
            error:function(request){ alert('Sorry, there was an error!!!')}
          })
            return false
          })


          // Unhide Favorites 
       
          $(".favorites").hide();

          $("#show_favorites").click(function(){
            console.log("Show Favorites Clicked");
              if($(".favorites").is(":visible")){ $(".favorites").hide(); }
                else{                           
                  // Animate the submit button
                  $("#submit_button").animate({
                    top:'+=140px'},function(){
                      $(".favorites").slideToggle(); 
                    }
                  );
                }
          })
      })
  </script>




   <div class="favorites">   
     <%=  collection_select :procedure, :favorites, Procedure.all, :procedure_code, :procedure_name,{:include_blank => 'None', :selected=>get_favorites_array(current_user)},{:multiple=>"multiple"}%> 
   </div>


           <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
               $("#procedure_favorites").multiselect(
                 );
            });
           </script>

<!-- <fieldset class="favorites">
    <table class="procedure_list">
      <caption>Favorites</caption>
        < @procedure_list.in_groups_of(3,false) do |procedure| %>
        <tr>
          < procedure.each do |p| %>
          <td>
            <label class='checkbox'>
              <= check_box_tag "procedure_ids[]",p.procedure_code,@favorites.include?(p.procedure_code) %>
              <= look_for_procecdure_nickname(p) %>
            </label>

          </td>
          < end %>
        </tr>
        < end %>
        </table>
      
</fieldset>
              -->  
<%= link_to "Home", '/home' %>  



<div id="passwordWindow" title="Change Password" procedureId="" style="display:none"> 
  <style type="text/css" media="screen">
  
  div{
    left:0px;
  }  
  
  #passwordWindow input{
    left:0px;
    font-size:15pt;
    width: 150px;
  }
  .new_password_div div{
  }
   #current_password_box{
     top: 0px;
   }
  #new_pass_box{
    top: 40px;
  }  
  #new_pass_confirmation{
    top: 80px;
  }
   .password_buttons_div{
    top: 130px; 
   }

  </style>
     
<div class="new_password_div">
     Current Pass:&nbsp;&nbsp;<input type="password" id="current_pass_box"/><br/><br/>
     New Pass:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" id="new_pass_box"/><br/><br/>
     Confirmation:  <input type="password" id="new_pass_confirmation"/></br><br/>
</div>
  <div class="password_buttons_div">
    <a href="#" id="closeChangePasswordWindow" class="notesAttribute negative" onclick='return false;'>Cancel</a>
    <a href="#" id="submitChangePasswordWindow" class="notesAttribute negative"style="color:green" onclick='return false;'>Submit</a> 
  </div>      
 </div>
</div>

<div id="checkPassWindow" title="Confirm Password" procedureId="" style="display:none"> 
       
       
<div class="confirm_password">
        <input type="password" id="currentPassword"/><br/>
</div>
  <div class="password_buttons_div">
    <a href="#" id="closePasswordWindow" class="notesAttribute negative" onclick='return false;'>Cancel</a>
    <a href="#" id="submitPasswordWindow" class="notesAttribute negative"style="color:green" onclick='return false;'>Submit</a> 
  </div>      
 </div>
</div>


