<% @favorites = RbYAML.load(@user.favorites) if @user.favorites %>
<% @procedure_list = Procedure.find(:all, :order => "procedure_name") %>

<div data-role="content">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.error_messages %>

    <div data-role="fieldcontain">
       <%= f.label :username %><br />
       <%= f.text_field :username %>
    </div>

    <div data-role="fieldcontain">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>

    <div data-role="fieldcontain">
      <div id="firstNameLable"> First Name:</div>
      <%= f.text_field :first_name %>
    </div>
     
    <div data-role="fieldcontain">
      <div id="lastNameLable"> Last Name:</div>
      <%= f.text_field :last_name %>
    </div>
      
    <div data-role="fieldcontain">
      <%= f.label :password,:class=>"password_text_box" %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :class=>"password_text_box" %>  
      <%= f.password_field :password_confirmation, :class=>"password_confirmation" %>
    </div>

    <div data-role="fieldcontain">
      <%= f.label :current_password, :class=>"current_password"%> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, :id=>"current_password_field"%>
    </div>

    <div data-role="fieldcontain">
      <%= f.submit 'Update' %>
    </div>
<% end %>
</div>

<div data-role="footer">
  <h4>Copyright &copy; 2010</h4>
</div> <!-- /footer -->

    

<!--  <div id="favorites_button">
   <input type="button" name="Edit Favorites" value="Edit Favorites" id="show_favorites"><br/>
 </div>  
 
 </div> 


  <script type="text/javascript">
       
     defaults={
       draggable:false,
       modal: true,
       height: 240,
       width:  400,
       resizable:false
     };
     
    $(document).ready(function(){
      var windowClosedDisposition="";
      $('.favorites').trilemma({max:12});

      $("#fake_submit_button").click(function(){
        $("#checkPassWindow").dialog({
          draggable:false,
           modal: true,
           height: 120,
           width:  250,
           resizable:false,
          close: function(event,ui){ 
            if(windowClosedDisposition=="submitted"){ 
              console.log("PASSWORD => " + $("#currentPassword").val());
               $("#current_password_field").val($("#currentPassword").val());
               console.log("PASSWORD => " + $("#current_password_field").val());
               
               $("form:first").submit();
            }
          }
        })
      });                    
      
      $("#change_password").click(function(){ 
         $("#passwordWindow").dialog({

           draggable:false,
            modal: true,
            height: 240,
            width:  400,
            resizable:false,
            
           close: function(event,ui){ 
             if(windowClosedDisposition=="submitted"){
                $("#current_password_field").val($("#current_pass_box").val());
                $("#password_text_box").val($("#new_pass_box").val());
                $("#password_confirmation").val($("#new_pass_confirmation").val());
               $("form:first").submit();
             }
           }
         })
       });

         $("#closeChangePasswordWindow").click(function(){ 
           windowClosedDisposition = "canceled"
           $("#passwordWindow").dialog('close');
         });
         
         $("#submitChangePasswordWindow").click(function(){
           windowClosedDisposition = "submitted" 
           $("#passwordWindow").dialog('close');
         });   
         
         $("#closePasswordWindow").click(function(){ 
           windowClosedDisposition = "canceled"
           $("#checkPassWindow").dialog('close');
         });
       
         $("#submitPasswordWindow").click(function(){
           console.log("@@@");
           windowClosedDisposition = "submitted" 
           $("#checkPassWindow").dialog('close');
         });


      // Ajax call to update procedure_code favorites
        $("input:checkbox").change(function(){
          var procedure_id_var= jQuery(this).val();
          
          if(jQuery(this).attr("checked")){ var action = 'add' }
            else{ var action = 'delete' }
            console.log("@ LOG => {action=>" + action + ",:procedure_code=>"+ jQuery(this).val()+"}");
             $.ajax({
                       async:true, 
                       url:'/users/edit_procedure',
                       type:'POST',
                       data: {
                            'commit':action,
                            'procedure_code':procedure_id_var, 
                            'authenticity_token':'<%= form_authenticity_token %>',
                            'id':'<%= @user.id %>'
                       },
            success: function(){console.log("Success!");},
            error:function(request){ alert('Sorry, there was an error!!!')}
          })
            return false
          })


          // Unhide Favorites 
       
          $(".favorites").hide();

          $("#show_favorites").click(function(){
            console.log("Show Favorites Clicked");
              if($(".favorites").is(":visible")){ $(".favorites").hide(); }
                else{                           
                  // Animate the submit button
                  $("#submit_button").animate({
                    top:'+=140px'},function(){
                      $(".favorites").slideToggle(); 
                    }
                  );
                }
          })
      })
  </script>




   <div class="favorites">   
     <%=  collection_select :procedure, :favorites, Procedure.all, :procedure_code, :procedure_name,{:include_blank => 'None', :selected=>get_favorites_array(current_user)},{:multiple=>"multiple"}%> 
   </div>


           <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
               $("#procedure_favorites").multiselect(
                 );
            });
           </script>


      


    

 -->
