<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>      

<%= stylesheet_link_tag 'table' %>

<style type="text/css">
  #vertmenu {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 200%;
    width: 680px;
    padding: 0px;
    margin: 0px;
  }

  #vertmenu h1 {
    display: block;
    background-color:#FF9900;
    font-size: 270%;
    padding: 30px 0 5px 3px;
    border: 1px solid #000000;
    color: #333333;
    margin: 0px;
    width:560px;
  }

  #vertmenu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: none;
  }
  #vertmenu ul li {
    margin: 0px;
    padding: 0px;
  }
  #vertmenu ul li a {
    font-size: 350%;
    display: block;
    border-bottom: 1px dashed #C39C4E;
    padding: 20px 0px 2px 4px;
    text-decoration: none;
    color: #666666;
    width:580px;
  }

  #vertmenu ul li a:hover, #vertmenu ul li a:focus {
    color: #000000;
    background-color: #eeeeee;
  }
   .text_field { 
    position:relative;
    width: 200px;
    background:#fff;    
    font-family:Arial, Helvetica, sans-serif;
    font-size:15pt;
    padding:5px;
    border-top:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  }
</style>

  <script type="text/javascript"> 
  
  $(document).ready(function() {
  
  $('#opener').click(function(){ 
     openDialog(); 
     return false;

     function openDialog(){
        $( "#inviteUserDialog" ).dialog({
             modal: true,
             minWidth: 600,
             resizable: false
           });
         }
    });
  });
  </script>
  
<div id="vertmenu">
<h1>Edit</h1>

  <ul>
    <% if current_user %>
      <li> <%= link_to "Home", :controller => "home", :action => "index"%> </li>
      <li><%= link_to "Procedures", procedures_path %></td></li>
      <li><%= link_to 'Invite Doctor', new_user_registration_path, :id=>"opener" if current_user.is_admin? %></li>
      <li> <%= link_to "Logout", '/users/sign_out' %></li>      
      <li>
         <br>
          <%= form_tag( {:action => 'upload'}, {:multipart => true} ) do -%>
              <%= file_field_tag "xml_file",:id=>"file_button" %>
              <%= submit_tag "Import", :id=>"submit_button"%>
          <% end -%>
      </li>
   <%end%>
  </ul>
</div>
<% if !flash.empty? %>
  <br/><br/><br/>
   <table border="0" width="">
     <caption> Patient Import </caption>
     <thead>
       <tr>
         <th>Successes</th>
       </tr>
     </thead>
     <% if flash[:notice].empty? %>
      <tr>
        <td>
          <font color="red">none</font>
        </td>
      </tr>
     <%else%>
      <% flash[:notice].each do |msg| %>  
            <tr>
              <td><%= msg %></td>
            </tr>
      <% end %>
   </table>
   <%end%>
   <% if flash[:error].empty? %>
     <tr>
       <td>
         <font color="red">none</font>
       </td>
     </tr>
    <%else%>
   <table border="0" width="">
     <thead>
       <tr>
         <th>Failures</th>
       </tr>
     </thead>
     <% flash[:error].each do |msg| %>  
      <tr>
        <td><%= msg %></td>
      </tr>
      <% end %>
      </tr>
   </table>
   <%end%>
<%end%>                 
<br>
<br>
<%= render :partial=>"user",  :locals=>{:users=>User.where(:validated=>false)}%>

 <% if current_user.is_admin? %>
    <div id="inviteUserDialog" title="Invite User" style="display:none">    
      <%= form_tag 'admin/invite', :method => 'post', :onsubmit => 'return validate(this)' do %>
        User's Email: <%= text_field_tag 'email','', :class => "text_field" %> <br/>
        First Name:  &nbsp; <%= text_field_tag 'first_name','', :class => "text_field" %> <br/>
        Last Name:   &nbsp; <%= text_field_tag 'last_name','',:class => "text_field" %>  <br/>
        <%= submit_tag "Invite"%>
        <% end %>
  </div>
 <%end%>
