<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script language="javascript" type="text/javascript">  
$(document).ready(function(){
   $("#pw_reset").hide();
   
   $('.toggle').click(function(){ 
     $("#pw_reset").toggle(); 
   }); 
  });  
</script>

  <% form_for @doctor_session do |f| %>
    <fieldset>
      <legend>Log in</legend>

      <%= f.label :username %>
      <%= f.text_field :username %><br><br>

        <%= f.label :password %>
        <%= f.password_field :password %>
        
      <br />
     <div id="pw_reset">
      <% form_tag password_resets_path do %>
          Email: <%= text_field_tag :email %>
          <%= submit_tag "Reset",:class => "reset-button" %>
      <% end %>
     </div>
      <br><br>
      <input id="doctor_session_submit" type="submit" class="button" name="commit" value="Log in"/><input type="button" value="Reset Password" href="#" class="toggle"/>
    </fieldset>
    <%= f.error_messages %>
    <% end %>
  </body>
</html>