<%= form_for(@option) do |f| %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>                                            
              <%= @option.errors.inspect %>
              
      <% @option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @procedures = Procedure.all %>
  <%= f.hidden_field :procedure_id %>
  
  <div class="field">
    <%= f.label :description %><br />
    
    <%= f.text_field :description %>
  </div>
  
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
