<div data-role="header">
  <% if current_user %>
     <h1>Hospital List</h1>
     <%= link_to "Logout", '/users/sign_out', "data-rel"=>"dialog", "class"=>"ui-btn-right" %> 
  <%else%>                          
    <h1>Authentication Required</h1>
    <%= link_to "Login", '/users/sign_in', "data-rel"=>"dialog","class"=>"ui-btn-right" %> 
  <%end%>
 </div>

<script type="text/javascript" charset="utf-8">
  <%=raw(alert_user)%>
</script>
 <div data-role="content">
   <ul data-role="listview">
           <% if current_user %>
             <%  cookies[:user] = current_user.username %>
             <%  cookies[:last_name] = current_user.last_name %>
             <%  cookies[:first_name] = current_user.first_name %>
             <li> <%= link_to "Patients", '/patients?location_search=true&id=ALTAMONTE'  %> </li>
             <% if supported_browser %>
              <li> <%= link_to "Calendar", charges_path %> </li>
              <li> <%= link_to "Reports", charges_path %> </li>
             <% end -%>
             <li> <%= link_to 'Profile', '/users/edit'  %> </li>
             <li> <%= link_to "Admin", {:controller => "admin", :action => "index"} if current_user.is_admin %> </li>
           <%end%>
  </ul>
</div>

<div data-role="footer">
  <h4>Copyright &copy; 2010</h4>
</div> <!-- /footer -->