<style type="text/css" media="screen">
select.style01 {border:1px solid #A5A5A5; backgorund-color:#D0D0D0}
select.style01 option {border-bottom:1px solid #dadada; width:10px;}
</style>

<table class='stripeMe' style="width: 400px; margin-right: 0px; margin-left: 0px;">
    <% form_for(charge) do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :patient_id %>

    <div id="style01">
      <!--  LIST OF PROCEDURES -->
      <td>
        <%= f.collection_select :procedure_code, Procedure.all, :procedure_code, :procedure_name %>
      </td>
      <!--  LIST OF DOCTORS -->
      <td>
        <%= select :charge,:doctor,Doctor.find(:all).collect{|p| [p.doctor_name]}%>
      </td>
      <td >
        <%= f.submit 'Add' %>
      </td>
    </tr>
  </div>
<% end %>
</table>