<%= hidden_field_tag :patient_id,charge.patient_id %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    
        $("._procedure").click( function(){  
          console.log($(this));  
         // event.stopPropagation();
        });
  
  });
</script>
<ul data-role="listview" data-inset="true">

 
  <% @procedure_list.each do |procedure| %>  
    <li class="_procedure" id="<%= procedure.procedure_name %>[][][]"><%= procedure.procedure_name %>
      <% unless procedure.options.nil? %> 
        
        <ul>
          <% procedure.options.each do |option| %> 
          <li class="_option" id="<%= procedure.procedure_name %>[<%=option.value%>][][]"><%=option.value %>
             
             <ul>
              <% option.types.each do |type| %> 
                <li class"_type" id="<%= procedure.procedure_name %>[<%=option.value%>][<%=type.value%>][]"><%=type.value%>
                  <% unless type.location.nil? %> 
                    <% unless type.location.downcase == "both" %>
                      <ul>
                        <li class="_locality" id="<%= procedure.procedure_name %>[<%=option.value%>][<%=type.value%>][left]">Left</li>
                        <li class="_locality" id="<%= procedure.procedure_name %>[<%=option.value%>][<%=type.value%>][right]">Right</li>
                      </ul>
                    <% end %>
                  <% end %>
                  
                </li>
              <% end %>
             </ul>
           </li>    
         <% end %>
         
       </ul>
      <% end %>   
     <% end %>
  </li>
</ul>