    <% form_tag add_charges_path, :method => :put do %>
      <% @procedure_list = Procedure.find(:all, :order => "procedure_name") %>
      <%= hidden_field_tag :patient_id,charge.patient_id%>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    
  });
</script>
        <table class="procedure_list">
          <caption>Procedures</caption>
          
            <% @procedure_list.in_groups_of(5,false) do |procedure| %>
            <tr class="procedure_list_toggled_area">
              <% procedure.each do |p| %>
              <td>
                <div id="content_area">
                
                  <label for="<%= p.procedure_code %>_f"><%= look_for_procecdure_nickname(p) %></label>
                  <input name="procedure_ids[]" id="<%= p.procedure_code %>_f" type="checkbox" value="<%= p.procedure_code %>" class="crirHiddenJS" />
                  <!--
                  <%= check_box_tag "procedure_ids[]", p.procedure_code ,:class => 'crirHiddenJS' %>
                  <%= look_for_procecdure_nickname(p) %> 
                  -->
                </div>
              </td>
              <% end %>
            </tr>
            <% end %>

            <tr>
              <td>
                <%  cookies[:doctor] = current_doctor.doctor_name %>
                <%= submit_tag 'Add' %>
              </td>
            </tr>
          </table>
        <% end %>
