 <%= javascript_include_tag "jquery-ui-min.js" %>
<%= stylesheet_link_tag "jquery-ui-1.8.5.custom.css" %>
<%= stylesheet_link_tag "new_charge.css" %>


<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>


  <%= form_tag add_charges_path,:id=>'new_charge', :method => :put do %>
    <% @procedure_list = Procedure.find(:all, :order => "procedure_name") %>
    <%= hidden_field_tag :patient_id,charge.patient_id %>

    <%= javascript_include_tag "json2.js" %>
    <%= stylesheet_link_tag("patient_buttons.css")%>

   <script type="text/javascript" charset="utf-8">
   
    // Returns true if the passed value is found in the
    // array. Returns false if it is not.
    Array.prototype.chkforDuplicates = function (value){
      var i;
      var ctr = 0;
        for (i=0; i < this.length; i++) {
          if (this[i] == value) {
            return true;
          }
        }
        return false;
    };

  var myNotes= new Array();
  var procedureArray=[];
  var chargeNote;
  var calculatorTotal;
  var optionalParams;

  $(document).ready(function(){
    var procedureObj = "";

    $("td[id*='procedure_code']").click(function(){
        var valueToAdd = $(this).attr("id").split('[')[1].split(']')[0];

        if(procedureArray.chkforDuplicates(valueToAdd)){
            procedureArray = $.grep(procedureArray, function(val) { return val != valueToAdd; });
            $(this).css({'background-color' : 'white', 'color':'#678197'});
             
            $("#example").dialog('close');

        }else{
           
          $(this).css({'background-color' : 'green', 'font-weight' : 'bolder', 'color':'white'});
          procedureArray.push(valueToAdd);   
          var response = $.ajax({
             url: "/procedures/"+valueToAdd+".json",
             type: "GET",
             cache: false,
             processData: false, 
             success: function(json){
               procedureObj = json.procedure;  
                    
                 if(procedureObj.options.length==0){
                   console.log("@@@ No Options");
                 }else{
                   $.each(procedureObj.options,function(key, value) {  
                     $("#modalBody").append("<button value='" + value.option.value + "' class='positive'>" + value.option.value + "</button>");                     
                     console.log(key+1 + ': ' + value.option.value); 
                   });                                               
                   $("#modalBody").append("<br/>");
                 }
             }

            });
            
         $("#optionsDialog").dialog({
           modal:true,
           width:600,
           close: function(){
             $("#modalBody").html("");
           }
         }); 
        }

    })
    
   function result(){
       console.log(procedureObj.procedure_name); 
    }
  });
    </script>
             


    

        <table class="procedure_list">
          <caption id="procedure_banner">Procedures</caption>
            <% @procedure_list.in_groups_of(3,false) do |procedure| %>
            <tr class="procedure_list_toggled_area">
              <% procedure.each do |p| %>
              <td id="procedure_code[<%=p.id%>]" noteRequired="<%= p.note_required %>">
                  <%= p.procedure_name %> 
                  <!--
                  < p.options.each {|option| %> 
                   
                   <input type="hidden" option_descriptione="<=option.description%>" option_value="<=option.value%>" option_id="option_<=option.id%>"> 
                    
                    < option.types.each {|type| %>
                      <input type="hidden" type_descriptione="<=type.description%>" type_value="<=type.value%>" type_id="type_<=type.id%>"> 

                    < }%>
                   
                   < }%>
                  -->
              </td>
              <% end %>
            </tr>
            <% end %>
          </table>   
          <input type="hidden" id="data_to_post" name="procedure_ids" value=""> 
          
        <% end %>

        <div id="optionsDialog" title="Add Note" procedureId="" style="display:none"> 
            <script type="text/javascript"> 
              // **** Some JqueryUI JS  ****

              $(function(){
                //all hover and click logic for buttons
                $(".fg-button:not(.ui-state-disabled)")
                .hover(
                  function(){ $(this).addClass("ui-state-hover"); },
                  function(){ $(this).removeClass("ui-state-hover"); }
                )
                .mousedown(function(){
                  $(this).parents('.fg-buttonset-single:first').find(".fg-button.ui-state-active").removeClass("ui-state-active");
                  if( $(this).is('.ui-state-active.fg-button-toggleable, .fg-buttonset-multi .ui-state-active') ){ $(this).removeClass("ui-state-active"); }
                  else { $(this).addClass("ui-state-active"); }	
                })
                .mouseup(function(){
                  if(! $(this).is('.fg-button-toggleable, .fg-buttonset-single .fg-button,  .fg-buttonset-multi .fg-button') ){
                    $(this).removeClass("ui-state-active");
                  }
                });
              });
            </script>
                         
            <div id="modalBody"></div>
            
            
          <!-- <div class="buttons">
                <a href="#" id="closeNotesWindow" class="notesAttribute negative" onclick='return false;'>Cancel</a>
                <a href="#" id="submitNotesWindow" class="notesAttribute negative"style="color:green" onclick='return false;'>Submit</a> 
              
          </div>    -->
        </div>

                     