  <%= form_tag add_charges_path,:id=>'new_charge', :method => :put do %>
    <% @procedure_list = Procedure.find(:all, :order => "procedure_name") %>
  <%= hidden_field_tag :patient_id,charge.patient_id%>

<script type="text/javascript" charset="utf-8">

//Make sure all values are unique
function unique(a){
   var r = new Array();
   o:for(var i = 0, n = a.length; i < n; i++){
      for(var x = 0, y = r.length; x < y; x++){
         if(r[x]==a[i]) continue o;
      }
      r[r.length] = a[i];
   }
   return r;
}

  var procedureArray=[];
  jQuery.(document).ready(function(){
    
    jQuery.("td[id*='procedure_code']").toggle(
      function(){
        var valueToAdd = jQuery.(this).attr("id").split('[')[1].split(']')[0]
        procedureArray.push(valueToAdd);
        
        console.log("Add => " + valueToAdd);
        
        jQuery.(this).css({'background-color' : 'green', 'font-weight' : 'bolder', 'color':'white'});
      },
      
      function(){
        var valueToDelete = jQuery.(this).attr("id").split('[')[1].split(']')[0]
        procedureArray = jQuery.grep(procedureArray, function(val) { return val != valueToDelete; });
        jQuery.(this).css({'background-color' : 'white', 'font-weight' : 'bolder', 'color':'black'});
      
        console.log("Delete => " + valueToDelete);
      }
    )
    
    $('.search_form').click(function(){
      console.log("@@@ " + unique(procedureArray));
      
      jQuery.('#data_to_post').attr("value",unique(procedureArray));
      });
    });
</script>
        <table class="procedure_list">
          <caption id="procedure_banner">Procedures</caption>
          
            <% @procedure_list.in_groups_of(5,false) do |procedure| %>
            <tr class="procedure_list_toggled_area">
              <% procedure.each do |p| %>
              <td id="procedure_code[<%=p.id%>]">

                  <%= look_for_procecdure_nickname(p) %>

              </td>
              <% end %>
            </tr>
            <% end %>
            <tr class="procedure_list_toggled_area">
              <td>
                <input type="hidden" id="data_to_post" name="procedure_ids" value=""> 
                
                <%= submit_tag 'Add', :class => 'search_form'  %>
              </td>
            </tr>
          </table>
        <% end %>
