<style type="text/css" media="screen">
select.style01 {border:0px solid #A5A5A5; backgorund-color:#D0D0D0}
select.style01 option {border-bottom:1px solid #dadada; width:10px;}
</style>

<% content_for(:head) do %>
  <%= javascript_include_tag 'fancy-form-prototype' %>
  <%= javascript_include_tag :defaults %>
<% end %>

<!--
<table class='stripeMe' style="width: 400px; margin-right: 0px; margin-left: 0px;">
    <% form_for(charge) do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :patient_id %>
    <div id="style01">
      <td>
        <%= f.collection_select :procedure_code, Procedure.all, :procedure_code, :procedure_name %>
      </td>
      <td>
        <%= select :charge,:doctor,Doctor.find(:all).collect{|p| [p.doctor_name]}%>
      </td>
      <td >
        <%= f.submit 'Add' %>
      </td>
    </tr>
  </div>
</table>
<% end %>
-->

<%= stylesheet_link_tag 'checkbox' %>

<body>
  <% form_tag add_charges_path, :method => :put do %>

      <%= hidden_field_tag :patient_id,charge.patient_id%>
      <%= select :charge,:doctor,Doctor.find(:all).collect{|p| [p.doctor_name]}%>

      <% for p in Procedure.find(:all) %>

          <label class='checkbox'>
            <%= check_box_tag "procedure_ids[]", p.procedure_code %>
            <%= p.procedure_name %>  
          </label>
        
       <% end %>
    <%= submit_tag 'Add' %>
 <% end %>
  
   <script type="text/javascript">
    Event.observe(window, 'load', function() {
        FancyForm.start();
      });
    </script>

<!--
  <% form_tag add_charges_path, :method => :put do %>
      <%= hidden_field_tag :patient_id,charge.patient_id%>
      <%= select :charge,:doctor,Doctor.find(:all).collect{|p| [p.doctor_name]}%>
    <% for p in Procedure.find(:all) %>
        <div>
          <%= check_box_tag "procedure_ids[]", p.procedure_code %>
          <%= p.procedure_name %>  
        </div>
       <% end %>
    <%= submit_tag 'Add' %>
   <% end %>
   -->
