
    <tr id="patient_row[<%=patient.id %>]">
<!--      <td><%=h patient.facility %></td>-->
      <td>        
        <table id="location_table_row" border="0" cellspacing="0">
            <tr>
              <td><font color="blue">Room: </td>
              <td><%=check_value(patient.room) %></td>
            </tr>
            <tr>
              <td><font color="blue">Unit: </td>
              <td><%=check_value(patient.unit) %></td>
            </tr>
            <tr>
              <td><font color="blue">Bed: </td>
              <td><%=check_value(patient.bed) %></td>
            </tr> 
            <tr>
              <td><font color="blue">Doc: </td>
              <td><%= get_lastname(patient.attending_md) %></td>
            </tr>                              
            <tr>                               
            <%=h patient.facility %>
              
            </tr>
        </table>
      </td>
      <td><%=h patient.patient_name %></td>
<!--      <td><%= get_lastname(patient.attending_md) %></td>-->
      <td><%= been_seen(patient) %></td>
    </tr>
