
    <tr>
      <td><%=h patient.facility %></td>
      <td>        
        <table id="location_table_row" border="0" cellspacing="0">
            <tr>
              <td><font color="blue">Room: </td>
              <td><%=check_value(patient.room) %></td>
            </tr>
            <tr>
              <td><font color="blue">Unit: </td>
              <td><%=check_value(patient.unit) %></td>
            </tr>
            <tr>
              <td><font color="blue">Bed: </td>
              <td><%=check_value(patient.bed) %></td>
            </tr>
        </table>
      </td>
      <td><%=h patient.patient_name %></td>
      <td><%=get_lastname(patient.attending_md) %></td>
      <td><%= been_seen(patient) %></td>
      <td>
        <table id="inner_table" border="0" cellspacing="0">
            <td id="inner_table"><%= link_to image_tag("find.png", :border=>0), patient %></td>
            <td id="inner_table"><%= link_to image_tag("edit.png", :border=>0), edit_patient_path(patient) %></td>
            <td id="inner_table"><%= link_to image_tag("delete.png", :border=>0),patient, :confirm => 'Are you sure?', :method => :delete %></td>
      </table>
      </td>
    </tr>
