

    <tr id="patient_row[<%=patient.id %>]" beenSeen="<%=been_seen(patient)%>">
      <td>
        <%=h check_value(patient.room)%>
      </td>
      <td>
        <%=h patient.patient_name %>&nbsp;<font style="font-size: 0.45em;">[<%=patient.age unless patient.sex.nil? %> <%= patient.sex unless patient.sex.nil? %>]</font>  
      </td>
    </tr>

    