
<table class='charges_list'>
  <%if !charges.empty? %>
    <caption id="charges_banner">Charges</caption>
    <thead>
      <tr class='show_charges_toggled_area'>
        <th scope='col' abbr='Procedure'>Charge</th>
        <th scope='col' abbr='Doctor'>Doctor</th>
        <th></th>
        <th scope='col' abbr='Procedure'>Charge</th>
        <th scope='col' abbr='Doctor'>Doctor</th>
        <th></th>
      </tr>
    </thead>

    <%= charges.in_groups_of(2,false) do |c| %>
    <tr class="show_charges_toggled_area">
        <% c.each do |charges| %>
            <!-- Pulled from charges_helper -->
            <% get_info(charges.procedure_code).each do |i| %>
              <td id="charge_code[<%=charges %>]" class="charge"><%=	i.procedure_name %></td>
            <% end %>
            
              <td id="charge_code[<%=charges.id %>]" class="charge"><%=charges.doctor %></td>
              <input id="charge_code[<%=charges.id %>]" type="hidden" name="_method" value="charge_code[<%=charges.id %>]"/>   

<!--              <td class="delete_charge_button"><%= image_tag("delete.png") %></td>         -->   
             <!--<td><%= button_to "Delete", { :controller => 'charges',:action => "destroy", :id => charges.id },:confirm => "Are you sure?", :method => :delete %></td>-->
              <td><%= link_to(image_tag("delete.png"), charges, :confirm => "Are you sure?", :method => :delete) %>
           <!-- <%= link_to 'Destroy', charge_path(charges), :confirm => 'Are you sure?', :method => :post  %>                                                           -->
         </td>
                   
        <% end %>
      </tr>
      <% end %>
    <%end%>
</table>

