<div data-role="header">
  <h3>Header</h3>
  <%= link_to 'Add', patients_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>
 
<div data-role="content">
  <ul data-role="listview">
    <%= form_for(@patient) do |f| %>
    <li>
      <%= f.text_field :patient_name %>
    </li>
    <li>
    <%= f.text_field :facility %>
    </li>     
    <li>
      <%= f.text_field :room %>
    </li>
    <li>
      <%= f.text_field :unit %>
    </li> 
    <li>
      <%= f.text_field :bed %>
    </li> 
    <li>
      <%= f.text_field :age %>
    </li>    
    <li>
      <%= f.text_field :attending_md %>
    </li>
    <li>
      <select name="Sex">
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </li>
                                                 
    <% end %>
  </ul>
</div>
