<%= stylesheet_link_tag 'tabs' %>
<% @facilities = get_list_of_facilities() %>

<title>Patients: <%= get_location_name(@search) %></title>

<ul id="tabnav">
  
  <li class="All"><a href="/patients">All</a></li>

  <% @facilities.each do |facility|%>
    <li><%= link_to "#{facility.capitalize}", :controller => "patients", :action => "index", :search=>{"facility"=>"#{facility}" } %> </li>

  <% end%>
</ul>

<% form_for @search do |f| %>
<table>
  <tr>
    <td>
    <%= f.label :patient_name_like, "Patient Name" %>
    <%= f.text_field :patient_name_like%>
  </td>
  <td>
    <%= f.label :room_like, "Room" %> 
    <%= f.text_field :room_like%>
  </td>
  <td>
    <%= f.label :facility_equals, "Facility" %> 
    <%= f.collection_select :facility, Patient.find(:all,:select=>"DISTINCT facility"),:facility,:facility,{:include_blank => true}%>
  </td>
  <td>
    <%= f.submit "Search" %>
  </td>
</table>

<% end%>

<table class='stripeMe'>
  <caption><%= get_location_name(@search) %> Patients</caption>
  <thead>
    <tr class='odd'>
    <th><%= order @search, :by => :facility,:as => "Hospital" %></th>
    <th><%= order @search, :by => :room,:as => "Location" %></th>
    <th><%= order @search, :by => :patient_name,:as => "Name" %></th>
    <th><%= order @search, :by => :attending_md,:as => "MD"%></th>
    <th><%= order @search, :by => :patient_been_seen,:as => "Seen"%></th>
    <th></th>
    
    
  </tr>
  </thead>

<%= render @patients  %>
 
 
 </table>

 <!--<%= link_to 'New patient', new_patient_path %>-->
