<%= stylesheet_link_tag 'tabs' %>

<title>Patients: <%= fix_location_name(@search) %></title>

<ul id="tabnav"> 
  <li class="All"><a href="/patients">All</a></li>
  <% get_list_of_facilities().each do |facility|%>
    <li><%= link_to "#{facility.capitalize}", :controller => "patients", :action => "index", :search=>{"facility"=>"#{facility}" } %> </li>
  <% end%>
</ul>
<div id="user_nav">
  <% if current_doctor %>
    <%= link_to "Edit Profile", edit_doctor_path(:current) %>
    <%= link_to "Logout", logout_path%>
  <% else %>
    <%= link_to "Register", new_doctor_path%>
    <%= link_to "Login", login_path%>
  <%end%>
</div>
<% form_for @search do |f| %>
<table>
  <tr>
    <td>
    <%= f.label :patient_name_like, "Patient Name" %>
    <%= f.text_field :patient_name_like%>
  </td>
  <td>
    <%= f.label :room_like, "Room" %> 
    <%= f.text_field :room_like%>
  </td>
  <td>
    <%= f.submit "Search" %>
  </td>
</table>

<% end%>

<table class='stripeMe'>
  <caption><%= fix_location_name(@search) %> Patients</caption>
  <thead>
    <tr class='odd'>
    <th><%= order @search, :by => :facility,:as => "Hospital" %></th>
    <th><%= order @search, :by => :room,:as => "Location" %></th>
    <th><%= order @search, :by => :patient_name,:as => "Name" %></th>
    <th><%= order @search, :by => :attending_md,:as => "MD"%></th>
    <th><%= order @search, :by => :patient_been_seen,:as => "Seen"%></th>
    <th></th>
    
    
  </tr>
  </thead>

<%= render @patients  %>
 
 
 </table>

 <!--<%= link_to 'New patient', new_patient_path %>-->
