<%= stylesheet_link_tag 'tabs' %>

<%= javascript_include_tag "jquery-1.4.2.min.js" %>  
<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>  
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>

<li><%= link_to "Home", :controller => "home", :action => "index"%> | <%= link_to "Add Patient", new_patient_path %> </li>


<style type="text/css" media="screen">
  div#user_id{
    padding: 10px 0px 0px 0px;
  }

  #fade { /*--Transparent background layer--*/
  	display: none; /*--hidden by default--*/
  	background: #000;
  	position: fixed; left: 0; top: 0;
  	width: 100%; height: 100%;
  	opacity: .80;
  	z-index: 9999;
  }
  .popup_block{
  	display: none; /*--hidden by default--*/
  	background: #fff;
  	padding: 20px;
  	border: 20px solid #ddd;
  	float: left;
  	font-size: 1.2em;
  	position: fixed;
  	top: 50%; left: 50%;
  	z-index: 99999;
  	/*--CSS3 Box Shadows--*/
  	-webkit-box-shadow: 0px 0px 20px #000;
  	-moz-box-shadow: 0px 0px 20px #000;
  	box-shadow: 0px 0px 20px #000;
  	/*--CSS3 Rounded Corners--*/
  	-webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
  	border-radius: 10px;
  }
  img.btn_close {
  	float: right;
  	margin: -55px -55px 0 0;
  }
  /*--Making IE6 Understand Fixed Positioning--*/
  *html #fade {
  	position: absolute;
  }
  *html .popup_block {
  	position: absolute;
  }
  
</style>

    <ul id="tabnav"> 
      <% get_list_of_facilities().each do |facility|%>
        <li><%= link_to "#{facility.capitalize}","/patients/search/#{facility}"%> </li>
      <% end%>
      <li><%= link_to "All", :controller => "patients", :action => "index", :search=>"All"%> </li>
</ul>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    // Redirects to patient if they click on row
      $("tr[id^='patient_row']").click(function(){
        function get_id(v){
          var patient_id = v.substring(v.search(/\W/g)+1,v.length-1);
          console.log("@@@ patient_id => " +  patient_id);
          return patient_id
        }
        $(window.location).attr('href', '/patients/'+get_id($(this).attr("id")));
      })
  });
</script>

<table class='stripeMe'>
  <thead>
    <tr class='odd'>
    <th><%= sort_link @search,:facility, "Hospital" %></th>
    <th><%= sort_link @search,:room,"Location" %></th>
    <th><%= sort_link @search,:patient_name,"Name" %></th>
    <th><%= sort_link @search,:attending_md, "MD"%></th>
    <th><%= sort_link @search,:patient_been_seen, "Seen"%></th>

  </tr>
  </thead>

    <%= render @patients  %>

 </table>
 