<div data-role="header">
  <h1>Add Patient</h1> 
 
    <%= link_to 'Back', patients_path %>

    
</div><!-- /navbar -->   
  

<div data-role="content">


<%= form_for(@patient) do |f| %>
  <%= f.error_messages %>

    <div data-role="fieldcontain">
      <%= f.label :facility %>
      <%= f.collection_select(:facility, @facilities_list, :facility, :facility, { :include_blank => true },:style=>"width:200px;" ) %>
    </div>

    <div data-role="fieldcontain">
      <%= f.label :room %>
      <%= f.text_field :room %>
    </div>
    <div data-role="fieldcontain">
       <%= f.label :patient_name %>
       <%= f.text_field :patient_name %>
    </div>
     
    <div data-role="fieldcontain">
        <%= f.label :fin %>
        <%= f.text_field :fin %>
    </div>
      
    <div data-role="fieldcontain">
      <%= f.label :age %>  
      
        <%range = 0..100%>
        <%=select("post", "person_id",range, { :include_blank => true })%>
    </div>
    
    <div data-role="fieldcontain">
      <%= f.label :sex %>
        <select name="Sex">
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
    </div>


    <div data-role="fieldcontain">

      <%= f.label :attending_md %>
      <%= f.collection_select(:attending_md, @doctors_list, :attending_md, :attending_md, { :include_blank => true },:style=>"width:200px;" ) %>
    </div>

    <div data-role="fieldcontain">
      <%= f.label :admitted %>
      <%= f.date_select :admitted %>
    </div>

    <div data-role="fieldcontain">
      <%= f.submit 'Create' %>
    </div>
<% end %>
</div>

<div data-role="footer">
  <h4>Copyright &copy; 2010</h4>
</div> <!-- /footer -->