<caption>Add Patient</caption>

<%= form_for(@patient) do |f| %>
  <%= f.error_messages %>
    

    <div data-role="fieldcontain">
      <%= f.label :facility %>
      <%= f.collection_select(:facility, @facilities_list, :facility, :facility, { :include_blank => true },:style=>"width:200px;" ) %>
    </div>

    <div data-role="fieldcontain">
      <%= f.label :room %>
      <%= f.text_field :room %>
    </div>
    <div data-role="fieldcontain">
       <%= f.label :patient_name %>
       <%= f.text_field :patient_name %>
     </div>
     
     <div data-role="fieldcontain">
        <%= f.label :fin %>
        <%= f.text_field :fin %>
      </div>
      
      <!-- <div data-role="fieldcontain">
              <%= f.label :unit %>
              <%= f.text_field :unit %>
            </div> -->
 
    <div data-role="fieldcontain">
      <%= f.label :age %>  
      
      <%range = 0..100%>
      <%=select("post", "person_id",range, { :include_blank => true })%>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :sex %>
        <select name="Sex">
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="3">Switch</option>
        </select>
       </div>


    <div data-role="fieldcontain">

      <%= f.label :attending_md %>
      <%= f.collection_select(:attending_md, @doctors_list, :attending_md, :attending_md, { :include_blank => true },:style=>"width:200px;" ) %>
    </div>

    <div data-role="fieldcontain">
      <%= f.label :admitted %>
      <%= f.date_select :admitted %>
    </div>
    <div data-role="fieldcontain">
      <%= f.submit 'Create' %>
      <%= link_to 'Show', @patient %>
      <%= link_to 'Back', patients_path %>
    </div>
<% end %>
