  <%= link_to "Patients", patients_path %> |
  <%= link_to "Home", :controller => "home", :action => "index"%> |
  <%= link_to 'Edit', edit_patient_path(@patient) %> |
  <%= link_to 'Back', patients_path %>

    
  <!-- <script type="text/javascript" charset="utf-8">
   $(document).ready(function(){ 

     $("#procedure_code\\[34\\]").click(function(){
         console.log("@@@@");
      });  
      
   });
  </script> -->
 <!-- 
  <style type="text/css" media="screen">
    #fade { /*--Transparent background layer--*/
    	display: none; /*--hidden by default--*/
    	background: #000;
    	position: fixed; left: 0; top: 0;
    	width: 100%; height: 100%;
    	opacity: .80;
    	z-index: 9999;
    }
    .popup_block{
    	display: none; /*--hidden by default--*/
    	background: #fff;
    	padding: 20px;
    	border: 20px solid #ddd;
    	float: left;
    	font-size: 1.2em;
    	position: fixed;
    	top: 50%; left: 50%;
    	z-index: 99999;
    	/*--CSS3 Box Shadows--*/
    	-webkit-box-shadow: 0px 0px 20px #000;
    	-moz-box-shadow: 0px 0px 20px #000;
    	box-shadow: 0px 0px 20px #000;
    	/*--CSS3 Rounded Corners--*/
    	-webkit-border-radius: 10px;
    	-moz-border-radius: 10px;
    	border-radius: 10px;
    }
    img.btn_close {
    	float: right;
    	margin: -55px -55px 0 0;
    }
    /*--Making IE6 Understand Fixed Positioning--*/
    *html #fade {
    	position: absolute;
    }
    *html .popup_block {
    	position: absolute;
    }

  </style>
     -->
       <%  cookies[:doctor] = current_doctor.doctor_name %>
       
        <script type="text/javascript" charset="utf-8">
          $(document).ready(function(){
            
            
            // Hide stuff in view
            $('.procedure_list_toggled_area').hide();
            $('.patient_data_toggle_area').hide();
            
            $('#show_favorites').click(function(){
              $('.favorites_toggled_area').toggle();
            });
            
            $('#charges_banner').click(function(){
              $('.show_charges_toggled_area').toggle();
            });
            
            $('#procedure_banner').click(function(){
              $('.procedure_list_toggled_area').toggle();
            });
            
            $('#patient_banner').click(function(){
              $('.patient_data_toggle_area').toggle();
            });
               
             $('#submit_button').click(function(){
               console.log("SUBMIT PROCEDURES => " + procedureArray);
               console.log("SUBMIT NOTES => " + JSON.stringify(myNotes));
                  $.ajax({
                    type: "post", 
                    url: '/charges/add',   
                    data: "patient_id=<%=@patient.id%>&procedure_ids="+procedureArray+"&myNotes="+JSON.stringify(myNotes)
                  });
                  window.location.reload();
             });
          });
        </script>
 <table class='patient_data'>
    <caption>Patient Data</caption>
    <tr>
      <th scope='col' abbr='Name'>Name</th>
      <td><%= @patient.patient_name %></td>
    </tr>	
    <tr>
      <th scope='col' abbr='Facility'>Facility</th>
      <td><%= @patient.facility %></td>
    </tr>
    <tr>
      <th scope='col' abbr='Attending'>Attending</th>
      <td><%= @patient.attending_md %></td>
    </tr>
    <% if @patient.consult_md!=nil%>
    <tr>
      <th scope='col' abbr='Consulting'>Consulting MD</th>
      <td><%= @patient.consult_md %> </td>
    </tr>
    <%end%>
 </table>
  
  <table class='patient_data'>
    <caption id="patient_banner">Location</caption>
    <tr class='patient_data_toggle_area'>

      <tr class='patient_data_toggle_area'>
        <th scope='col' abbr='Room'>Room</th>
        <td><%= check_value(@patient.room)%></td>
      </tr>
      <tr class='patient_data_toggle_area'>

        <th scope='col' abbr='Bed'>Bed</th>
        <td><%= check_value(@patient.bed)%></td>
      </tr>
      <tr class='patient_data_toggle_area'>

        <th scope='col' abbr='Unit'>Unit</th>
        <td><%= check_value(@patient.unit)%></td>
      </tr>
      <tr class='patient_data_toggle_area'>
        <th scope='col' abbr='Age'>Age</th>
        <td><%= check_value(@patient.age.to_s)%></td
      </tr>
      <tr class='patient_data_toggle_area'>
        <th scope='col' abbr='Sex'>Sex</th>
        <td><%= check_value(@patient.sex)%></td>
      </tr>
  </table>

  <div id="show_charges">
    <%= render :partial=>"show_charges",	:locals=>{:charges=>@patient.charges,:orders=>@order}	%>
  </div>

  <br/><br/>

  <div id="show_favorites">
    <%= render :partial=>"show_favorites",  :locals=>{:charge=>Charge.new(:patient_id=>@patient.id)}%>
  </div>

  <br/><br/>

  <div id="new_charges">
    <%= render :partial=>"new_charge",  :locals=>{:charge=>Charge.new(:patient_id=>@patient.id)}%>
  </div>

  <table border=1 style="width: 400px; margin-left: 10px;">
    <tr id="submit_button">                
      <td style="background-color:grey; color: black; font-size: 15px; ">Submit</td>
    </tr>
  </table>
  <input id="hidden_submit" type="submit" style="visibility:hidden">
