<div data-role="page" data-theme="b">

 <div data-role="header">
    <h1><%= @patient.patient_name.titleize %></h1>
  
      <%= link_to 'Patients', patients_path, "data-icon" => "plus", "class" => "ui-btn-left" %>
      <%= link_to 'Edit', edit_patient_path(@patient), "data-icon" => "plus", "class" => "ui-btn-right" %>
      <%= link_to "Home", :controller => "home", :action => "index","class" => "ui-btn-middle"%>    

   </div>
  
<!--
   <script type="text/javascript" charset="utf-8">
    $(function() {
      $("#cancelButton").click( function(){
        console.log('@@@ button clicked');
      });
      $("#submitButton").click( function(){
        // console.log("SUBMIT PROCEDURES => " + procedureArray);
        //
        //                  $.ajax({
        //                    type: "post", 
        //                    url: '/charges/add',
        //                    dataType: 'json',
        //                    async:false,
        //
        //                    processDataBoolean:false,
        //                    // Needed to get this posted back as an array, hense the brackets, its a hack, yea I know, deal with it :)
        //                    data: "patient_id=< =@patient.id%>&procedure_ids=["+(procedureArray)+"]"
        //                    //+"&selectionArray="+JSON.stringify(selectionObj)
        //                    //patient_id=< =@patient.id%>&procedure_ids="+
        //                  });
        //                  setTimeout('window.location.reload()', 250);
      });
    });
  
   </script>
-->
 <div data-role="content"> 

    <div data-role="collapsible">      
      <h3>Patient Data <%= @patient.id %></h3>
        <table>
          <tr>
            <td>Name:</td>
            <td><%= @patient.patient_name.titleize %></td>
          </tr>
          <tr>
            <td>Facility:</td>
            <td><%= @patient.facility.titleize %></td>
          </tr>
          <tr>
            <td>Doctor:</td>
            <td> <%= @patient.attending_md.titleize %></td>
          </tr>
        </table>
    </div>

    <div data-role="collapsible" data-collapsed="true">
              <h3>Location Data</h3>
              <table>
                  <tr>
                    <td>Room: </td>
                    <td><%=raw check_value(@patient.room)%></td>
                  </tr>
                  <tr>
                    <td>Bed: </td>
                    <td><%=raw check_value(@patient.bed)%></td>
                  </tr>
                  <tr>
                    <td>Unit: </td>
                    <td><%=raw check_value(@patient.unit)%></td>
                  </tr>
                  <tr>
                    <td>Age: </td>
                    <td><%=raw check_value(@patient.age.to_s)%></td>
                  </tr>
                  <tr>
                    <td>Sex: </td>
                    <td><%=raw check_value(@patient.sex)%></td>
                  </tr>
                  </table>
          </div>
            
      <% unless @patient.charges.empty? %>
    <div data-role="collapsible" >
      <h3>Charges</h3>
      <%= render :partial=>"show_charges", :locals=>{:charges=>@patient.charges,:orders=>@order} %>
    </div> 
      <% end %>
    
    <div data-role="collapsible">
             <h3>Add Charge</h3>
             <%= render :partial=>"new_charge", :locals=>{:charge=>Charge.new(:patient_id=>@patient.id)}%>
    </div>

    <div class="ui-body ui-body-b">
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">   
          <div id="cancelButton" data-role="button">Cancel</div>
        </div>
        <div class="ui-block-b">                            
          <div id="submitButton" data-role="button">Submit</div>
        </div>
      </fieldset>
    </div>

   

  </div>
 <div data-role="footer">
    <h4>CFPG</h4>
  </div><!-- /footer --> 
  
  
  
  
</div>   
  
 