<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="user_box">
    <p>
      <%= f.label :username, :class=>"label", :id=>"user_label" %><br />
      <%= f.text_field :username, :id=>"user_box" %>
    </p>
   </div>
  <div class="password_box">
    <p>
      <%= f.label :password, :class=>"label",:id=>"password_label" %><br />
      <%= f.password_field :password, :id=>"password_box"%>
    </p>
  </div>


  <% if devise_mapping.rememberable? -%>
    <div class="remember_me">
      <p>Remember Me: <%= f.check_box :remember_me %></p>
    </div>
  <% end -%>
  

  <p><%= f.submit "Sign in", :id=>"user_button"%></p>
<% end %>