<h1>Editing doctor</h1>

<% form_for(@doctor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :doctor_name %><br />
    <%= f.text_field :doctor_name %>
  </p>
  <p>
    <%= f.label :doctor_id %><br />
    <%= f.text_field :doctor_id %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @doctor %> |
<%= link_to 'Back', doctors_path %>