<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "jquery.trilemma.js" %>  

<%=@doctor.favorites %>
<% @favorites = YAML.load(@doctor.favorites) if @doctor.favorites %>
<% @procedure_list = Procedure.find(:all, :order => "procedure_name") %>

<h1>Editing doctor</h1>

<% form_for(@doctor) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :doctor_name %><br />
    <%= f.text_field :doctor_name %>
  </p>
  <p>
    <%= f.label "Username" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label "Email" %><br />
    <%= f.text_field :email %>
  </p>
  <div id="password_field">
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
  </div>
  <div id="password_confirmation">
    <p>
      <%= f.label :password_confirmation %>  <br />
      <%= f.password_field :password_confirmation %>
    </p>
  </div>
    <p><%= f.submit 'Update' %></p>
<% end %>

<input type="button" name="Edit Favorites" value="Edit Favorites" id="show_favorites"><br/>
<input type="button" name="Change Password" value="Change Password" id="change_password"><br/>

  <script type="text/javascript">

      $("input#doctor_password").keypress(function(){
         $("#password_confirmation").show();
     })
     
   // checks to see if we have 10 items selected, if we do we want to not
   // allow user to select any more (10 favorites max).  This works in 
   // combination w/ the trilemma plug in, which limits checkboxes to 10 as 
   // well.  Problem is that it acts onChange, so if there was 10 we had no 
   // way to prevent users from selecting an 11th
   
   $("#password_confirmation").hide();

   $(function(){
     $('.favorites').trilemma({max:10});
     });
     
    $(document).ready(function(){
        var numSelected = $("input[name~='procedure']:checked").length;
        if(numSelected >= 10){
          $("input[name~='procedure']:not(:checked)").each(function(){
            $(this).attr('disabled','true');
          })  
        }
    })

      // Ajax call to update procedure_code favorites
      $(document).ready(function(){
      
        $("input[name~='procedure']").bind('change', function(){
          var procedure_id_var= jQuery(this).val();
          
          if(jQuery(this).attr("checked")){ var action = 'add'}
            else{ var action = 'delete' }
            console.log("@ LOG => {action=>" + action + ",:procedure_code=>"+ jQuery(this).val()+"}");
             $.ajax({
                       async:true, 
                       url:'/doctors/edit_procedure',
                       type:'POST',
                       data: {
                            'commit':action,
                            'procedure_code':procedure_id_var, 
                            'authenticity_token':'<%= form_authenticity_token %>',
                            'id':'<%= @doctor.id %>'
                       },
            success: function(){console.log("Succes!");},
            error:function(request){ alert('Sorry, there was an error!!!')}
          })
            return false
          })
          

          // Unhide Favorites 
          $(".favorites").hide();
          
          $("#show_favorites").click(function(){
              if($(".favorites").is(":visible")){ $(".favorites").hide(); }
                else{ $(".favorites").show(); }
          })

          // Unhide Password Field
            $("#password_field").hide();

              $("#change_password").click(function(){
                if($("#password_field").is(":visible")){  $("#password_field").hide();  }
                else{  $("#password_field").show();  }
            })
      })
  </script>

 <fieldset class="favorites">
    <table class="procedure_list">
      <caption>Favorites</caption>
        <% @procedure_list.in_groups_of(3,false) do |procedure| %>
        <tr>
          <% procedure.each do |p| %>
          <div id="rounded">
          <td>
            <label class='checkbox'>
              <%= check_box_tag "procedure_ids[]",p.procedure_code,@favorites.include?(p.procedure_code) %>
              <%= look_for_procecdure_nickname(p) %>
            </label>
            </div>
          </td>
          <% end %>
        </tr>
        <% end %>
        </table>
      
</fieldset>
<%= link_to 'Show', @doctor %> |
<%= link_to 'Back', doctors_path %>