<h1>New doctor</h1>

<% form_for(@doctor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :doctor_name %><br />
    <%= f.text_field :doctor_name %>
  </p>
  <p>
    <%= f.label "Doctor ID" %><br />
    <%= f.text_field :doctor_id %>
  </p>
  <p>
    <%= f.label :doctor_pin %><br />
    <%= f.text_field :doctor_pin %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', doctors_path %>

