<h1>Editing procedure</h1>

<% form_for(@procedure) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :procedure_name %><br />
    <%= f.text_field :procedure_name %>
  </p>
  <p>
    <%= f.label :procedure_code %><br />
    <%= f.text_field :procedure_code %>
  </p>
  <p>
    <%= f.label :procedure_nickname %><br />
    <%= f.text_field :procedure_nickname %>
  </p>
  <p>
    <%= f.label :group_type %><br />
    <%= f.text_field :group_type %>
  </p>
  <p>
    <%= f.label :procedure_id %><br />
    <%= f.text_field :procedure_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @procedure %> |
<%= link_to 'Back', procedures_path %>