<%= stylesheet_link_tag 'tabs' %>
<style type="text/css" media="screen">
    ul li a {
    font-size: 340%;
    border-bottom: 1px dashed #C39C4E;
    padding: 1px 0px 2px 4px;
    text-decoration: none;
    color: #666666;
    width:100px;
  }
</style>
<ul id="tabnav">
  <li>
    <%= link_to 'Add', new_procedure_path %>
 </li>
 <li>
  <%= link_to 'Home', '/home' %>
  </li>
</ul>  

<table class='stripeMe' border=1 style="width: 400px; margin-left: 10px;">
	<caption>Procedures</caption>
	
  <thead>
    <tr class='odd'>
      <th>Procedure name</th>
      <th>Procedure code</th>
      <th>Procedure nickname</th>
      <th>Group type</th>
      <th></th>
      <th></th>
  </tr>
</thead>
<tbody>

<% @procedures.each do |procedure| %>
  <tr>
    <td><%=h procedure.procedure_name %></td>
    <td><%=h procedure.procedure_code %></td>
    <td><%=h procedure.procedure_nickname %></td>
    <td><%=h procedure.group_type %></td>
    <td><%= link_to image_tag("edit.png", :border=>0), edit_procedure_path(procedure) %></td>
    <td><%= link_to(image_tag("delete.png"), procedure, :confirm => "Are you sure?", :method => :delete) %>
      
    
    
  </tr>
<% end %>
</table>

<br />
