
 <tr class="patient_charge">
   <% if charges %> 
    <td class="patient_name" patientId="<%=charges.id%>"> <%= charges.patient_name %> </td>
    <td class="procedure_name"><%= charges.procedure_name %> </td>
    <td class="procedure_code"><%= charges.procedure_code %> </td>    
    <td class="doctor"><%= charges.doctor %> </td>    
    <td class="fin"><%= charges.fin %> </td>  
    <td class="created_at"><%= charges.created_at.strftime("%m/%d/%Y  %I:%M%p")  %></td>
    <td class="recorded"><%= charge_recorded?(charges.recorded) %></td>
    
    <td>
      <table id="inner_table" border="0" cellspacing="0">
        <tr>
        <td class="patient_button"><input type="button" class="record_charge_button" value="record"/></td>
        </tr>
      </table>
    </td>  
    <%end%>
  </tr>


