 <tr class="patient_charge">
    <td class="patient_name"><div class="charge_id" style="visibility:hidden"><%= reports.id %></div><%= reports.patient_name %> </td>
    <td class="procedure_name"><%= reports.procedure_name %> </td>
    <td class="procedure_code"><%= reports.procedure_code %> </td>    
    <td class="doctor"><%= reports.doctor %> </td>    
    <td class="fin"><%= reports.fin %> </td>
    <td class="recorded"><%= charge_recorded?(reports.recorded) %></td>
    
    <td>
      <table id="inner_table" border="0" cellspacing="0">
        <td class="patient_button"><input type="button" class="record_charge_button" value="record"/></td>
      </table>
    </td>
  </tr>


