 <tr>
    <td><%= reports.patient_name %> </td>
    <td><%= reports.procedure_name %> </td>
    <td><%= reports.procedure_code %> </td>    
    <td><%= reports.doctor %> </td>    
    <td><%= reports.fin %> </td>
    <td><%= charge_recorded?(reports.recorded) %></td>
    
    <td>
      <table id="inner_table" border="0" cellspacing="0">
        <td>button</td>
      </table>
    </td>
  </tr>
