<%= stylesheet_link_tag "jquery-ui.css" %>  
<%= javascript_include_tag "jquery-ui-min.js" %>
<%= javascript_include_tag "jquery.ibutton", :cache => true %>
<%= stylesheet_link_tag "jquery.ibutton" %>  
<%= javascript_include_tag "reports_table.js" %>


      <div id="user_id" class="user_id">
          <% if current_doctor %>
            <%= link_to "Home", :controller => "home", :action => "index"%> 
            <%= link_to "Logout", logout_path %>
          <% else %>
           <!-- <%= link_to "Register", new_doctor_path%>|-->
            <%= link_to "Login", login_path%>
            <%= link_to "Home", :controller => "home", :action => "index"%>
         <%end%>
       </div>
      <!-- Date Search Functions 
         <script type="text/javascript" charset="utf-8">
           $(function(){  
               $('#search_created_at_gte').datepicker({ dateFormat: 'yy-mm-dd' }); 
               $('#search_created_at_lte').datepicker({ dateFormat: 'yy-mm-dd' });
           });
         </script>
         Date Search Form 
 
        End date search Form 
        -->

        <div id="simple" class="group">
          <div class="row">
            <input type="checkbox" id="ex02" checked="checked" />     
            <label class="label" for="ex02">Only Show Unbilled</label><br><br><br>
          </div>
        </div>

        <a class="button" href="/reports/search/last/hour"><span>Last  Hour</span></a><br/><br/>
        <a class="button" href="/reports/search/last/day"><span>Last   Day</span></a><br/><br/>
        <a class="button" href="/reports/search/last/week"><span>Last  Week</span></a><br/><br/>
        <a class="button" href="/reports/search/last/month"><span>Last Month</span></a><br/><br/>
        <a class="button" href="/reports/search/last/year"><span>Last Year</span></a> <br/><br/>
        <a class="button" href="/reports"><span>All</span></a>

        <div id="reports">
          <table>
            <tr>
              <td>
                <table class='stripeMe'>
                  <caption>Patient Charges</caption>
                  <thead>
                    <tr class='odd'>
                      <th><%= sort_link @search,:paitent_name,"Paitent Name" %></th>
                      <th><%= sort_link @search,:procedure_name,"Procedure Name" %></th>
                      <th><%= sort_link @search,:procedure_code,"Code" %></th>
                      <th><%= sort_link @search,:doctor,"Doctor" %></th>
                      <th><%= sort_link @search,:fin,"FIN" %></th>
                      <th><%= sort_link @search,:created_at,"Date Charged"%></th>
                      <th><%= sort_link @search,:recorded,"Billed?"%></th>
                      <th></th>
                    </tr>
                  </thead>

                    <%= render :partial => "charges", :collection => @charges %>

                  </table>
                </td>
              </tr>
            </table>
          </div>