<h1>Listing anatomies</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anatomies.each do |anatomy| %>
  <tr>
    <td><%= anatomy.description %></td>
    <td><%= anatomy.value %></td>
    <td><%= link_to 'Show', anatomy %></td>
    <td><%= link_to 'Edit', edit_anatomy_path(anatomy) %></td>
    <td><%= link_to 'Destroy', anatomy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anatomy', new_anatomy_path %>
