<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @anatomy.description %>
</p>

<p>
  <b>Value:</b>
  <%= @anatomy.value %>
</p>


<%= link_to 'Edit', edit_anatomy_path(@anatomy) %> |
<%= link_to 'Back', anatomies_path %>
