<table class='stripeMe' border=1 style="width: 400px; margin-left: 10px;">
	<caption>Charges</caption>
	
  <thead>
    <tr class='odd'>
    <th>Procedure name</th>
    <th>Procedure code</th>
    <th>Doctor</th>
    <th>Patient</th>
    <th></th>
    <th></th>
    <th></th>
    
  </tr>
</thead>
<tbody>
<% @charges.each do |charge| %>
  <tr>
    <% get_info(charge.procedure_code).each do |i| %>
      <td><%=	i.procedure_name %></td>
    <%end %>
    
    <td><%=h charge.procedure_code %></td>
    <td><%=h charge.doctor %></td>
    <td><%=h charge.patient_id %></td>
    <td><%= link_to 'Show', charge %></td>
    <td><%= link_to 'Edit', edit_charge_path(charge) %></td>
    <td><%= link_to 'Destroy', charge, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</tbody>

<!--<%= link_to 'New charge', new_charge_path %>-->