<!DOCTYPE html>
<html>
<head>
  <title>CFPG</title>
  <%= stylesheet_link_tag "jquery.mobile-1.0a2.css", :cache => true %>               
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.mobile-1.0a2.min.js", :cache => true %> 
  <%= csrf_meta_tag %>
    <%= yield(:head) %>
</head>
<body>
<div data-role="page">
  <p style="color: green"><%= flash[:notice] %></p>
  
  <%= yield %>
</div>
</body>
</html>

